<div class="cmp-event-registration">
    <form id="event-registration" name="event-registration" method="post" action="/bin/eventRegistration">
        <label for="eventName">Event name:</label>
        <input id="eventName" name="eventName">

        <label for="organiserEmail">Organiser email address:</label>
        <input id="organiserEmail" name="organiserEmail">

        <label for="eventNotes">Event notes:</label>
        <textarea id="eventNotes" name="eventNotes"></textarea>

        <button type="submit">Create event</button>
        <button type="button">Cancel</button>
    </form>
</div>